
/*GENERAL HTML*/
body {
    background-color: linen;
}
hr {
    margin-left: 10px;
    margin-right: 10px;
}
h1 {
    color: maroon;
    margin-left: 55px;
} 
p {
    color: brown;
    margin-left: 65px;
}
/*div{
    margin-left: 65px;
}*/
.wrap {
width: 100%;
overflow:auo;
}

.fleft {
    float:left; 
    width: 25%;
}

.fright {
float: right;
    width: 75%;
}

/*FORMS and INPUT*/
/*form {
    margin-left: 65px;
}*/
input:required {
	border: 1px solid red;
}

/*TABLES AND ROWS*/
table {
    margin-left: 80px;
}
th {
    background-color: brown; 
    color: white
}
th, td {
    padding: 10px;
    text-align: center;
}
tr:hover {background-color: #f5f5f5}
tr:nth-child(even) {background-color: #f2f2f2}

thead, tbody { display: block; }

tbody {
    height: 600px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
